.chart {
margin: 50px;
border: 2px solid #000000;
border-radius: 40px;
padding: 30px;
    // .chart__title

    &__title {
        margin-bottom: 30px;
    }

    // .chart__inner

    &__inner {
        display: flex;
    }

    // .chart__data

    &__data {
    }

    // .chart__input-group

    &__input-group {
        max-width: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    // .chart__label

    &__label {
        display: flex;
        justify-content: space-between;
        padding-bottom: rem-calc(20);
    }

    // .chart__label--num

    &__label--num {
        span{
            font-size: 20px;
            font-weight: 700;
        }
    }

    // .chart__label--gb

    &__label--gb {
    }

    // .chart__input

    &__input {
    }

    // .chart__submit-button

    &__submit-button {
    }

    // .chart__canvas-wrapper

    &__canvas-wrapper {
        position: relative;
    }
}
.chart-form__inner{
    display: flex;
    justify-content: space-around;
}
.type-ssd {
    position: absolute;
    display: flex;
    top: 140px;
    left: rem-calc(115);
    z-index: 3;
}
.checkbox {
}
.type-radio {
}
.text {
}
.type-multi {
    position: absolute;
    display: flex;
    top: 200px;
    left: rem-calc(115);
    z-index: 3;
}

.input-field {
}
#canvas{
    width: 60vw;
    height: auto;
    max-width: rem-calc(1500);
    transform: rotate(180deg);
    margin: 40px;
}
.chart-footer{
    width: calc(100% + 15px);
    display: flex;
    justify-content: space-between;
    margin-top: rem-calc(10);
    span{
        font-size: 20px;
    }
}
